<div class="col-md-4">
  <div class="card mb-4 shadow-sm">
    <div class="card-body">

      <%= image_tag portfolio_img(portfolio_item.thumb_image.url, 'thumb'), width: '100%' %>
      <p class="card-text">
        <span><%= portfolio_item.title %></span>
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <%= link_to 'View', portfolio_show_path(portfolio_item), class: "btn btn-primary" %>
        </div>
        <small class="text-muted"><%= distance_of_time_in_words(portfolio_item.created_at, Time.now) %></small>
      </div>
    </div>
  </div>
</div>
