<!-- Start of Jumbotron -->
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading text-muted">Project Gallery</h1>
    <p class="lead text-muted">The gallery that follows represents an evolution in my software development - older projects started as simple wordpress makeovers while newer ones are Rails projects started from scratch. </p>
    <p>
      <%= link_to 'Find Out More About Me', about_path, class: "btn btn-primary" %>
    </p>
  </div>
</section>
<!-- End of Jumbotron -->

<!-- Start of Items -->
<div class="album py-5 bg-secondary">
  <div class="container portfolio-container">

    <div class="row">

      <%= render partial: 'portfolio_item', collection: @portfolio_items %>

    </div>

  </div>
</div>
<!-- End of Items -->
