<h1>Pages#about</h1>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "pips.png", width: 500, alt: "freediving"%>
  </div>
  <div class="col-md-8">
    <p>Find me in app/views/pages/about.html.erb</p>
  </div>

</div>
