<!-- Start of Jumbotron -->
<section class="jumbotron">
  <div class="container-fluid">
    <div class="row">
      <div class="col mb-5">
        <h1 class="jumbotron-heading text-secondary text-sm-left">Contact Me</h1>
        <br>
        <h2 class="lead text-secondary text-sm-left">(707) 758-4924</h2>
        <br>
        <h2 class="lead text-secondary text-sm-left">stevendempsey13@gmail.com</h2>
        <br>
        <h2 class="text-sm-left"><a class="lead text-info" href="https://www.linkedin.com/in/steven-dempsey-75103a38/">My Linked In Profile</a></h2>
      </div>
      <div class="col">
        <%= image_tag "california.png" %>
        <br>
        <br>
        <p class="text-secondary text-center">I'm likely around here somewhere...</p>
      </div>
    </div>
  </div>
</section>
<!-- End of Jumbotron -->
