<div class="row justify-content-center">
  <h1 class="cover-heading">Hello, I'm Steven Dempsey.</h1>
  <p class="col-12 my-md-4 lead">I am a detailed oriented junior software developer familiar with Ruby/Ruby on Rails, Javascript and HTML/CSS.</p>
  <p class="mt-2 lead">
    <%= link_to 'About Me', about_path, class: "btn btn-lg btn-outline-light" %>
  </p>
</div>
